// =========================================================
// FOOTER SCSS
// =========================================================

footer {
	@include content_centering;
	background: $dark_color;
	color: $light_font_color;
	* {
		color: $light_font_color;
	}
	 @include tabpc {
    margin-top: $footer_y-margin_pc;
	 	width: 100%;
	 	//max-width: $inner_pc;これを付けると背景色が100%にならない
	 	padding: $footer_y-padding_pc calc(((100% - #{$inner_pc}) / 2) + #{$x-padding_pc});
    text-align: center;
	 }
	 @include sp {
    margin-top: $footer_vertical_margin_sp;
	 	width: 100%;
	 	padding: $footer_y-padding_sp $x-padding_sp;
    text-align: center;
	 }

	 position: relative;
	 &::before {
	 	content: "";
	 	display: block;
	 	position: absolute;
	 	left: 0;

	 	background: transparent;
	 	background-image: url(../images/line.png);
	 	background-repeat-y: no-repeat;
	 	background-size: contain;

	 	@include tabpc {}
	 	@include sp {
		 	height: 3vw;
		 	top: -.5vw;
	 		width: 100%;
	 	}
	 }

	 //headerとmainの境界線を手書き風の線にする
	 position: relative;
	 &::before {
	 	content: "";
	 	@include tegaki_line(true, false);
	 }
}