// =========================================================
// HEADER SCSS
// =========================================================

.header {
	@include content_centering;
	background: $soft_color2;
	 @include tabpc {
	 	width: 100%;
	 	//max-width: $inner_pc;
	 	padding: $y-padding_pc 0;//$header_x-padding_pc;
    text-align: center;
	 }
	 @include sp {
	 	width: 100%;
	 	padding: $y-padding_sp $header_x-padding_sp;
	 	text-align: center;
	 }

	 //headerとmainの境界線を手書き風の線にする
	 position: relative;
	 &::after {
	 	content: "";
	 	@include tegaki_line(false, true);
	 }

	 &__logo {
	  @include tabpc {
	  }
	  @include sp {
	    width: 100%;
	  }
	}
	&__ttl {
	  @include tabpc {
	    margin-top: $header_ttl_margin_top_pc;
	    font-size: $header_ttl_font-size_pc;
	  }
	  @include sp {
	    margin-top: $header_ttl_margin_top_sp;
	    font-size: $header_ttl_font-size_sp;
	  }
	}
}
