// =========================================================
// VALUES
// =========================================================

// 単語の定義メモ
// page
// -header
// -section
//  -ttl
//  -cnt
//   -item（どうでしょう）
// -footer
//  -ttl
//  -cnt

// Base Color
$black: #000;
$white: #fff;

$dark_color: #8d6449; //枯茶
$dark_color2: #cd8c5c; //小麦色

$deep_color: #a8bf93; //山葵
$light_color: #f7b977; //杏

$soft_color: #FFEECE; //掻練・皆練
$soft_color2: #fddea5; //蜂蜜色

$default_font_color: #664032; //茶褐色
$light_font_color: #FFEECE; //掻練・皆練

$default_link_color: $default_font_color;
$default_link_color_hover: $default_font_color;


// Breakpoint
// 設定した値+1がmin-widthに入る形
$sp: 640;
$tab: 768;
$pc: 1399;

// Inner point
$inner_pc: 1024px;

// ページ自体
$y-padding_pc: 60px; //後で修正
$x-padding_pc: 60px; //後で修正
$y-padding_sp: 15%;
$x-padding_sp: 5%;

// header
$header_x-padding_pc: 20px; //後で修正
$header_x-padding_sp: 15%;
$header_y-padding_pc: $y-padding_pc / 2;
$header_y-padding_sp: $y-padding_sp / 2;

// footer
$footer_y-margin_pc: $y-padding_pc / 2;
$footer_vertical_margin_sp: $y-padding_sp / 2;
$footer_y-padding_pc: $y-padding_pc / 2;
$footer_y-padding_sp: $y-padding_sp / 2;

// section
$section_y-margin_pc: 120px;
$section_y-margin_sp: 15vw;
$section_padding_top_pc: $y-padding_pc / 2;
$section_padding_top_sp: $y-padding_sp / 2;

// section__ttl
$section_ttl_before_x-margin_pc: -.6em;
$section_ttl_before_width_pc: .4em;
$section_ttl_after_height_sp: .2em;
$section_ttl_after_width_sp: 2em;

// leadText
$leadText_outline_width_pc: $section_ttl_before_width_pc;
$leadText_outline_offset_pc: -$section_ttl_before_x-margin_pc;
$leadText_padding_pc: 1em;
$leadText_padding_sp: 1em;//後で修正

// section__cnt
$section_cnt_y-margin_pc: $section_y-margin_pc / 2.5;
$section_cnt_y-margin_sp: $section_y-margin_sp / 2;

// page_ttlのmargin-top
$header_ttl_margin_top_pc: $y-padding_pc / 2;
$header_ttl_margin_top_sp: $y-padding_pc / 2;

// content内 item
$item_y-margin_pc: $section_cnt_y-margin_pc / 4 * 3;
$item_y-margin_sp: $section_cnt_y-margin_sp / 4 * 3;

// content内 item内
$item_between_y-margin_pc: $item_y-margin_pc / 2;
$item_between_y-margin_sp: $item_y-margin_sp / 2;

// dl
$dl_x_x-padding: .6em;
$dl_x_y-padding: .2em;

// Eigyo
$Eigyo_border_style_pc: 2px dashed $default_font_color;
$Eigyo_border_style_sp: 2px dashed $default_font_color; //後で変更

// conten内 itemのスタイル（Order）
$Order_item_y-padding_pc: 1.2em;
$Order_item_y-padding_sp: 1em;

//
// Reboot
//
$font-size-sp: 3rem;
$font-size-pc: 2rem;
$font-family: 'Kosugi Maru',
Roboto,
"Droid Sans",
YuGothic,
"游ゴシック",
Meiryo,
"メイリオ",
Verdana,
"MS Pゴシック",
sans-serif;

//
// font-size !!!
//
//  bodyのfont-sizeに対してemで指定する
//
$header_ttl_font-size_pc: 2em; //後で調整
$header_ttl_font-size_sp: 1.5em;

$sec_ttl_font-size_pc: 1.5em; //後で調整
$sec_ttl_font-size_sp: 1.25em;

$item_ttl_font-size_pc: 1.25em;
$item_ttl_font-size_sp: 1.15em;

$About_tbl_font-size_pc: 1.25em;
$About_tbl_font-size_sp: 1.12em;

$LeadTxt_font-size_pc: 1.05em; //大きくても変だったねん
$LeadTxt_font-size_sp: 1.05em;


//dl用
$dl_ttl_font-size_pc: 1.2em;
$dl_ttl_font-size_sp: 1.2em;

$Order_item_font-size_pc: 1.25em;
$Order_item_font-size_sp: 1.25em;


// その他スタイル
$sec_ttl_line-height: 2;
$item_ttl_line-height: 2;

$dl_line-height: 1.5;
$dl_y_dt_line-height: 2;

$LeadTxt_line-height_pc: 2;
$LeadTxt_line-height_sp: 2;//後で調整

$About_ttl_line-height_pc: 2.5;
$About_ttl_line-height_sp: 2.5;//後で調整

$About_tbl_lineheight_pc: 2.5;
$About_tbl_lineheight_sp: 2.5;//後で調整

$About_map-txt_line-height_pc: 2;
$About_map-txt_line-height_sp: 2;//後で調整

//dl_x用
$dl_x_dt_width_pc: 30%;
$dl_x_dt_width_sp: 40%;