/*
 * component: donutsMenu
 */

 //ドーナッツメニュー一覧のアイテム

.c-donutsMenu {//アンカーの想定でございます
	$_background: map-get($color, bg_dark_a01);
	$_font_size: map-get($font-size, md);
	$_padding: map-get($padding, xs);

	$_color: map-get($color, default_color_a09);
	$_du: map-get($transition, duration);
	$_tf: map-get($transition, timingFunction);

	///

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: $_padding;

	background: $_background;

	color: $_color;
	text-decoration: none;
	transition: opacity $_du $_tf;

	&:hover {
		opacity: 0.5;
		color: $_color;
		text-decoration: none;
	}

	&__left {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		.menu-image {
      position: relative;
			width: 50px;
			img {
				width: 100%;
      }
      .new-item {
        &::before {
          content: "New";
          color: inherit;
          font-size: inherit;
          font-weight: inherit;
          line-height: inherit;
          text-shadow: 0px 0px 4px white;
        }
        position: absolute;
        top: 0;
        left: 3px;
        color: map-get($color, new_red);
        font-size: map-get($font-size, xs);
        font-weight: bold;
        line-height: 1;
      }
		}
		.menu-title {
			margin-left: map-get($margin, xs);
			font-size: $_font_size;
		}

	}
	&__right {
		.menu-price {
			font-size: $_font_size;
		}
	}
}