/*
 * project: aboutIdohado
 */

.p-aboutIdohado {
	$_block_margin-top: map-get($margin, md);
	$_element_margin-top: map-get($margin, xs);
	$_pc_author_margin-top: map-get($padding-y, footer);
	$_sp_author_margin-top: map-get($margin, lll);

	$_padding-y: map-get($padding, sm);

	$_color: map-get($color, light_color);
	$_link_fontsize: map-get($font-size, lg);
	$_text_fontsize: map-get($font-size, md);
	$_sp_author_fontsize: map-get($font-size, sm);

	$_pc_map_height: 300px;
	$_sp_map_height: 50vw;

	@mixin _text_style($text_flag:false) {
		color: $_color;
		@if $text_flag == true {
			font-size: $_text_fontsize;
		}@else {
			font-size: $_link_fontsize;
		}
	}

	///

	.c-contactInfo__link {
		@include _text_style;
	}

	&__map {
		margin-top: $_block_margin-top;

		.mapLink {
			display: flex;
			justify-content: start;
			align-items: center;

			@include _text_style;
			@include ancher_hover_opacity;

			&__icon {
				display: block;
				@include fontAwesome_style;
			}
			&__text {
				display: flex;
			}
		}

		iframe {
			margin-top: $_element_margin-top;
			width: 100%;

			@include tabpc {
				height: $_pc_map_height;
			}
			@include sp {
				height: $_sp_map_height;
			}
		}

		.map-text {
			margin-top: $_element_margin-top;
			@include _text_style(true);
		}
	}

	&__author {
		@include tabpc {
			margin-top: $_pc_author_margin-top;
		}
		@include sp {
			margin-top: $_sp_author_margin-top;
			font-size: $_sp_author_fontsize;
		}
		padding: $_padding-y 0;

		@include _text_style(true);
		text-align: center;
	}
}