/*
 * project: orderLink
 */

// メニューとオーダーページへのリンク

.p-orderLink {
	$_button_fontsize: map-get($font-size, lg);
	$_info_fontsize: map-get($font-size, lg);

	&__list {
	}
	&__item {
		@include pc {
			@include block_centering;
			width: 90%;
		}
		@include sptab {
			width: 100%;
		}
		&:not(:first-child) {
			margin-top: map-get($margin, sm);
		}

		>a {
			position: relative;
			font-size: $_button_fontsize;
			font-weight: bold;
		}
	}

	&__image {
		position: relative;
		display: flex;
		align-items: center;

		@include tabpc {
			margin-top: map-get($margin, md);
		}
		@include sp {
			margin-top: map-get($margin, sm);
		}

		.image-char {
			@include sp {
				width: 70%;
			}
		}
		.image-serif {
		}
	}

	.c-contactInfo {
		@include pc {
			@include block_centering;
			width: 90%;
		}
		@include sptab {
			width: 100%;
		}		
		&__link {
			font-size: $_info_fontsize;
		}
	}
}