/*
 * project: salesStyles
 */

.p-salesStyles {

	@include pc {
		width: 85%;
		@include block_centering;
	}
	@include tab {
		width: 80%;
		@include block_centering;
	}

	.salesStyle {
		$_pc_padding-x: map-get($padding, lg);
		$_pc_padding-y: map-get($padding, xl);
		$_sp_padding-x: map-get($padding, sm);
		$_sp_padding-y: map-get($padding, md);
		$_pc_margin-top: map-get($margin, sm);
		$_sp_margin-top: map-get($margin, lg);
		$_bgc: map-get($color, bg_dark_a01);
		$_bbc: map-get($color, bg_dark_a02);
		$_transparent: map-get($color, transparent);

		$_pc_content_pt: map-get($padding, md);
		$_sp_content_pt: map-get($padding, sm);
		$_title_fz: map-get($title-font-size, md);
		$_text_fz: map-get($font-size, md);

		display: flex;
		flex-wrap: wrap;

		&:not(:first-child) {
			@include pc {
				margin-top: $_pc_margin-top;
			}
			@include sptab {
				margin-top: $_sp_margin-top;
			}
		}

		&__left {//text
			position: relative;
			background: $_bgc;

			@include pc {
				padding: $_pc_padding-y $_pc_padding-x;
			}
			@include sptab {
				padding: $_sp_padding-y $_sp_padding-x;
				text-align: center;
			}

			&::after {
				position: absolute;
				content: "";
				left: 0;
				top: 0;
				display: block;
				width: 100%;
				height: 100%;
				@include tegaki_frame(20);
			}
		}
		&__right {//img
			position: relative;

			&::after {
				position: absolute;
				content: "";
				left: 0;
				top: 0;
				display: block;
				width: 100%;
				height: 100%;
				@include tegaki_frame(20);
			}
		}

		@include pc {
			$_img_w: 500px;
			&__left {
				width: calc(100% - #{$_img_w});
			}
			&__right {
				max-width: $_img_w;
			}
		}
		@include sptab {
			&__left {
				order: 2;
				width: 100%;
			}
			&__right {
				order: 1;
				width: 100%;
			}
			&__img {
				img {
					width: 100%;
				}
			}
		}

		&__title {
			display: inline-block;
			border-bottom: .35em solid $_bbc;
			font-size: $_title_fz;
			font-weight: bold;
		}
		&__text {
			font-size: $_text_fz;
			@include pc {
				padding-top: $_pc_content_pt;
			}
			@include sptab {
				padding-top: $_sp_content_pt;
			}
		}
	}
}