/*
 * project: story
 */

.p-story {
	$_mt: map-get($margin, lg);
	$_fz: map-get($font-size, md);
	$_small_fz: map-get($font-size, sm);
	$_text_mt: map-get($margin, sm);

	&:not(:first-child) {
		margin-top: $_mt;
	}

	&__text {
		font-size: $_fz;

		&:not(:first-child) {
			margin-top: $_text_mt;
		}

		&.is-small {
			font-size: $_small_fz;
		}
	}
}


.my-wrapper {
  margin-top: map-get($margin, md);
  @include pc {
    width: 100%;
  }
  @include sptab {
    width: 100%;
  }
}