// =========================================================
// dl
// =========================================================

@import "../base/_values";
@import "../base/_mixin";

dl {
    text-align: left;
    line-height: $dl_line-height;

	dt {
    @include tabpc {
      font-size: $dl_ttl_font-size_pc;
    }
    @include sp {
      font-size: $dl_ttl_font-size_sp;
    }
    font-weight: normal;
	}

	dd {}
}