// =========================================================
// dtとddを縦に積む dl
// =========================================================

@import "_dl";

.dl_y {
	dt {
    &:not(:first-of-type) {
    	@include tabpc {
      	margin-top: $item_between_y-margin_pc;
    	}
    	@include sp {
      	margin-top: $item_between_y-margin_sp;
    	}
    }
    line-height: $dl_y_dt_line-height;
	}
}