// =========================================================
// 注文金額合計
// =========================================================

.PriceSum {
	display: flex;
	position: fixed;
	bottom: $PriceSum_bottom;
	z-index: 99;
	@include tabpc {
		right: $PriceSum_right_pc;
	}
	@include sp {
		right: $PriceSum_right_sp;
	}
	background: $white;
}