// =========================================================
// 手書き風にするための線
// =========================================================

@import "../base/_values";
@import "../base/_mixin";

@mixin tegaki_line($color, $radius) {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border: 1px solid $color;
    border-radius: $radius;
    transform: rotate(-0.2deg);
  }
  &::after {
    content: "";
    position: absolute;
    top:0;left:0;
    width: 100%;
    height: 100%;
    border: 1px solid $color;
    border-radius: $radius;
    transform: rotate(0.2deg);
  }
}